<app-header></app-header>
<span id="backbutton">
    <img id="backimage" src="arrow-left-svgrepo-com.svg" [routerLink]="''" alt="back">
</span>
<div id="rootContainer" >
    <div class="product_details_container">
        <div id="image_container">
            <img [src]="'http://localhost:5156' + product.imageUrl" alt="Product Image" width="100">
            <!-- <img [src]="product.imageUrl == 'https://example.com/example.jpg' ?  'apple.svg' : 'http://localhost:5156' + product.imageUrl" alt="categ.name"> -->
        </div>
        <div class="product_detail_sec_container">
          <div class="product_details_for">
            <h2> {{product.name}} </h2>
            <p id="priced"><strong>₹{{product.price}}</strong></p>
            <p id="brandd">{{product.brand}}</p>
            <p id="descriptiond">{{product.description}}</p>
            <span class="stockleft" *ngIf="(product.stock < 10)">
              Stocks left : {{product.stock}}
            </span>
            <button class="AddTocartButton2" (click)="addToCart(product.id)"> Add to cart</button>
          </div>
     </div>
    </div>

    <div id="MasterContainer">
        <div class="product_container">
          <ng-container *ngFor="let rec_product of recommendedProducts">
            <div *ngIf="product.id !== rec_product.id" class="product_card">
              <div class="image_container" (click)="goToProduct(rec_product.id)">
                  
                  <img [src]="'http://localhost:5156' + rec_product.imageUrl" alt="categ.name">
                  <!-- <img [src]="rec_product.imageUrl == 'https://example.com/example.jpg' ?  'apple.svg' : 'http://localhost:5156' + rec_product.imageUrl" alt="categ.name"> -->
              </div>
              
              <div class="products_details_box" >
                <div class="product_details" (click)="goToProduct(rec_product.id)">
                  <h3 id="name">{{ rec_product.name }}</h3>
                  <p id="brand">{{ rec_product.brand }}</p>
                  <p id="price">₹{{ rec_product.price }}</p>
                </div>
                <button class="AddTocartButton" (click)="addToCart(rec_product.id)"> Add</button>
              </div>
          
          </div>
        </ng-container>
        </div>
      </div>
      </div>
  