#rootContainer{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 20px;
    width: 100vw;
    min-height: 100%;
    /* min-height: calc(100vh - 80px); */
    /* background-color: rgb(151, 118, 52); */
}

.product_details_container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:30px;
    border-radius: 10px;
    padding:30px 20px;
    width: 85%;
    height:50%;
}

#image_container {
    min-width: 300px;
    max-width: 50%;
    border-radius: 10px;
    height: 300px;
    /* background-color: brown; */
}

#image_container img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.product_detail_sec_container{
    width: 50%;
    /* background-color: aqua; */
    padding: 20px 40px;
}
.product_details_for{
  display: inline;
    /* display: flex;

    flex-direction: column; */
    width:90%;
}
.product_details h2{
    font-weight: 500;
    font-size: 40px;
    /* /* background-color: blueviolet; */
    margin: 0px 0px;
}
#priced{
    font-weight: 500;
    font-size: 40px;
}

#brandd{
  text-align: center;
    margin: 0px 0px;
    font-weight: 700;
    font-size: 18px;
    background-color: aquamarine;
    border-radius: 5px;
    padding:0px 5px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    max-width: 150px;
  }

  #descriptiond{
    margin: 0px 0px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    padding:0px 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
  }

.AddTocartButton2{
    margin-top: 10px;
    padding: 8px 40px;
    width: auto;
    height:auto;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(39, 131, 94);
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.stockleft{
    background-color: rgb(238, 63, 63);
    color: rgb(0, 0, 0);
    padding: 2px 10px;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 10px;
}

#backbutton{
    width:40px;
    height:40px;
    position:fixed;
    top: 100px;
    left:20px;
}
#backimage{
    width: 100%;
    height:100%;
}

  #name{
    font-size: 17px;
    padding: 0px 15px;
    margin: 0px 0px;
    margin-top: 10px;
    font-weight: 700;
    max-width: 150px; /* Set a reasonable limit */
    overflow: hidden;
    white-space: nowrap;     /*Prevents text from wrapping */
    text-overflow: ellipsis; /* Adds "..." for long text */
  }

  #brand{
    margin: 0px 0px;
    font-weight: 700;
    font-size: 13px;
    background-color: aquamarine;
    border-radius: 5px;
    padding:0px 5px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    overflow: hidden;
    white-space: nowrap;     /*Prevents text from wrapping */
    text-overflow: ellipsis;
  }
  #price{
    font-weight: 700;
    margin: 0px 0px;
    font-size: 15px;
  }
  
  .AddTocartButton{
    padding: 1px 13px;
    height:40px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(39, 131, 94);
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
  }
  
  .AddTocartButton:hover{
    background-color: rgb(10, 139, 88);
  }
